version: "3"

services:
  reverse-proxy:
    image: nginx:latest
    ports:
      - 8080:80
      - 443:443
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./nginx/:/etc/nginx/ssl/:ro

  time-series-react:
    container_name: time-series-react
    build:
      context: .
      dockerfile: ./time-series-react/Dockerfile
    entrypoint: ["yarn", "dev"]
    volumes: #these volumes enable hot reload for file changes
      - ./time-series-react/src:/app/src #all code for current project
      - ./packages:/app/src/packages #shared turborepo packages
    tty: true

  time-series-api:
    container_name: time-series-api
    build:
      context: .
      dockerfile: ./time-series-api/Dockerfile
    environment:
      - CONTAINER_PATH=/app
    depends_on:
      time-series-db:
        condition: service_healthy
    volumes:
      - ./time-series-api:/app
      - ./python-modules:/app/python-modules

  time-series-db:
    container_name: time-series-db
    image: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - PGUSER=${PGUSER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    command: postgres -c 'max_connections=200'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
      timeout: 5s
      retries: 10
    volumes:
      - ./time-series-db/db:/var/lib/postgresql/data
      # Run a command after the container starts to create the test database
      - ./scripts/create_test_db.sh:/docker-entrypoint-initdb.d/create_test_db.sh
    restart: always

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    restart: always

  chatbot-api:
    build:
      context: .
      dockerfile: ./chatbot-api/Dockerfile
    container_name: chatbot-api
    env_file:
       - './chatbot-api/.env'
    volumes:
      - ./chatbot-api:/app
      - ./python-modules:/app/python-modules
      - ./rag_vector_db.sqlite:/app/rag_vector_db.sqlite # Mount the SQLite DB for persistence